<div class="modal-header">
  <span>{{ title }}</span>
  <button type="button" class="btn btn-light btn-sm" (click)="close()" aria-hidden="true">
    X
  </button>
</div>

<div class="class-form">
  <form class="form" [formGroup]="addForm" (ngSubmit)="addCustomer(addForm.value)">
    <br>
    <h2>Interface d'ajout du client</h2>
    <div class="flex-parent-element">

      <div class="flex-child-element-firstname">
        <label for="firstname">Prénom: </label>
        <input id="firstname" type="text" class="form-control" placeholder="First name" formControlName="firstname"
          #fir />
      </div>
      <div class="flex-child-element-lastname">
        <label for="lastName">Nom: </label>
        <input id="lastname" type="text" class="form-control" placeholder="Last name" formControlName="lastname" #las />
      </div>

    </div>
    <br>

    <div class="flex-parent-element">

      <div class="flex-child-element-email">
        <label for="email">Email: </label>
        <input id="email" type="text" class="form-control" placeholder="Email" formControlName="email" #ema />
      </div>
      <div class="flex-child-element-phone">
        <label for="phone">Télephone: </label>
        <input id="phone" type="number" class="form-control" placeholder="Phone" formControlName="phone" #pho />
      </div>

    </div>
    <br>

    <div class="form-group">
      <label for="adress">Adresse: </label>
      <input id="adress" type="text" class="form-control" placeholder="Adress" formControlName="adress" #adr />
    </div>

    <br>

    <div class="btnPosition">
      <button class="raised-button btn btn-secondary" [disabled]="addForm.invalid">
        <h5> <i class="fa fa-plus-circle"> </i> <strong> Ajouter client</strong></h5>
      </button>
    </div>

  </form>

  <br>

  <div *ngIf=" phone.invalid && (phone.dirty || phone.touched) ">
    <div class="alert alert-danger" *ngIf="phone.errors?.['required']">
      Télephone est obligatoire
    </div>
  </div>

  <div class="alert alert-danger" *ngIf=" email.invalid && (email.dirty || email.touched) ">
    Email n'est pas valide !!
  </div>

  <div *ngIf=" adress.invalid && (adress.dirty || adress.touched) ">
    <div class="alert alert-danger" *ngIf="adress.errors?.['required']">
      Adresse est obligatoire
    </div>
  </div>


  <div *ngIf=" lastname.invalid && (lastname.dirty || lastname.touched) ">
    <div class="alert alert-danger" *ngIf="lastname.errors?.['required']">
      Nom est obligatoire
    </div>
  </div>


  <div *ngIf=" firstname.invalid && (firstname.dirty || firstname.touched) ">
    <div class="alert alert-danger" *ngIf="firstname.errors?.['required']">
      Prénom est obligatoire
    </div>
  </div>

</div>


<!--   <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div [innerHTML]='message'>
        </div>
      </div>
    </div>
  </div>
 -->
<div class="modal-footer">
  <span class="pull-right" style="padding-right:2%">
    <button type="button" class="btn btn-light btn-sm" (click)="close()" id="btnCancel">Fermer</button>
  </span>
</div>