

div.main {
    position:fixed;
    margin-left: 27%;
}

.element {
    font-family: verdana, geneva;
    font-size: 13.3333px;
    color: red;
}



.tp-wrapper {
    -webkit-perspective: 800px;
            perspective: 800px;
  }
  
  .tp-box {
    position: relative;
    width: 1090px;
    height: 620px;
    margin: 3rem auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform         : transform 1s;
        -ms-transform         : transform 1s;
            transform         : transform 1s;
  }
  .tp-box__side {
     width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #000;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tp-box__front {
    background: -webkit-linear-gradient(to right, #9e51d4, #eb6f83);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #836b6f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 30px;
    box-shadow: 0px 0px 30px #f7f7f7;
    color: white;
      -webkit-transform : rotateY(0deg);
    -ms-transform     : rotateY(0deg);
    transform         : rotateY(0deg);
  }
  .tp-box__back {
    background: #23262d;
    -webkit-transform : rotateY(-180deg);
    -ms-transform     : rotateY(-180deg);
    transform         : rotateY(-180deg);
  }
