<div>
  <app-toasts-container></app-toasts-container>
</div>

<div class="main">
  <h1 style="color: rgb(0, 0, 0); margin-left: 30%;">Liste des réclamations </h1>

  <div>
    <button class="raised-button btn btn-success" (click)="openAddClaimsModal()">
      <h5> <i class="fa fa-plus-circle"> </i> <strong> Ajouter réclamation</strong></h5>
    </button>
  </div>
  <br>
  <form class="form" [formGroup]="filterForm" (submit)="filterByKeyWord(filterForm.value)">

    <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input id="filter" type="text" class="form-control" placeholder="Search"
        (ngModelChange)="filterByKeyWord(filterForm.value.filter)" formControlName="filter" #filter />
    </div>
  </form>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID réclamation </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{'make-green': row.status=== 'Traité', 'make-red': row.status === 'Refusé', 
          'make-yellow': row.status === 'En Attente'}"> {{row?.id}} </td>
      </ng-container>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sujet du réclamation </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{'make-green': row.status=== 'Traité', 'make-red': row.status === 'Refusé', 
          'make-yellow': row.status === 'En Attente'}"> {{row?.subject}} </td>
      </ng-container>

      <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contenu du réclamation </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{'make-green': row.status=== 'Traité', 'make-red': row.status === 'Refusé', 
          'make-yellow': row.status === 'En Attente'}"> {{row?.body}} </td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Priorité </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{'make-green': row.status=== 'Traité', 'make-red': row.status === 'Refusé', 
          'make-yellow': row.status === 'En Attente'}"> {{row?.priority}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Etat du priorité </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{'make-green': row.status=== 'Traité', 'make-red': row.status === 'Refusé', 
            'make-yellow': row.status === 'En Attente'}"> {{row?.status}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{'make-green': row.etat === 'Traité', 'make-red': row.etat === 'Refusé', 
          'make-yellow': row.etat === 'En Attente'}">
          <button (click)="deleteClaims(row)" class="icon-delete" mat-icon-button color="warn"
            [disabled]="row.status !=='En Attente'"><mat-icon>delete</mat-icon></button>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[7]"></mat-paginator>
  </div>


  <!-- Copyright 2019 Google Inc. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->


</div>