div.main {
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.icon-update {
    color: #5cb85c;
}

.icon-delete {
    color: rgb(196, 16, 16);
}

.mat-row {
    height: auto;
}


.form-control {
    height: 50px;
}


.make-green {
    background-color: #5cb85c;
}

.make-red {
    background-color: rgb(240, 122, 122)
}

.make-yellow {
    background-color: rgb(255, 253, 162)
}