<div class="modal-header">
  <span>{{ title }}</span>
  <button type="button" class="btn btn-light btn-sm" (click)="close()" aria-hidden="true">
    X
  </button>
</div>

<div class="class-form">
  <form class="form" (ngSubmit)="addSubscriptionToUserService()">
    <br>
    <h2>Ajout d'un service a une abonnement</h2>
    <br>

    <div>
      <ng-select class="custom" [items]="arrayTypeSubscription" bindLabel="name" [disabled]="true"clearAllText="Clear"
        placeholder="Type d'abonnement" [(ngModel)]="selectedTypeSubscription" [ngModelOptions]="{standalone: true}">
        <ng-template ng-label-tmp let-item="item">
          <span>{{ item.id +'- '+item.typeSubcription }}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
          <span>{{ item.id +'- '+item.typeSubcription }}</span>
        </ng-template>
      </ng-select>

      <br>

      <ng-select class="custom" [disabled]="true" clearAllText="Clear" placeholder="Client" [(ngModel)]="selectedCustomer"
        [ngModelOptions]="{standalone: true}">
        <ng-template ng-label-tmp let-item="item">
          <span>{{ item.id+'- '+item.firstname + ' ' + item.lastname }}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
          <span>{{ item.id+'- '+item.firstname + ' ' + item.lastname }}</span>
        </ng-template>
      </ng-select>

      <br>

      <ng-select class="custom" [items]="arrayService" bindLabel="service" (change)="checkExistsService();checkValidateService()"
        [searchFn]="customSearchFnCustomer" clearAllText="Clear" placeholder="Service" [(ngModel)]="selectedService"
        [ngModelOptions]="{standalone: true}">
        <ng-template ng-label-tmp let-item="item">
          <span>{{ item.id+'- '+item.typeService + ' ' + item.ramPc }}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
          <span>{{ item.id+'- '+item.typeService + ' ' + item.ramPc }}</span>
        </ng-template>
      </ng-select>

      <br>

    </div>
    <br>

    <div class="btnPosition">
      <button class="raised-button btn btn-secondary"
        [disabled]="!isValidService">
        <h5> <i class="fa fa-plus-circle"> </i> <strong> Ajouter abonné</strong></h5>
      </button>
    </div>
  </form>
  <br>

  <div *ngIf=" !isValidService && isClickedService">
    <div class="alert alert-danger">
      Veuillez choisir un service
    </div>
  </div>

</div>


<!--   <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div [innerHTML]='message'>
        </div>
      </div>
    </div>
  </div>
 -->
<div class="modal-footer">
  <span class="pull-right" style="padding-right:2%">
    <button type="button" class="btn btn-light btn-sm" (click)="close()" id="btnCancel">Fermer</button>
  </span>
</div>