<div class="modal-header">
  <span>{{ title }}</span>
  <button type="button" class="btn btn-light btn-sm" (click)="close()" aria-hidden="true">
    X
  </button>
</div>

<div class="class-form">
  <form class="form" [formGroup]="addForm" (ngSubmit)="addSubscriptionToUser(selectedCustomer)">
    <br>
    <h2>Interface d'ajout d'abonnement</h2>
    <br>



    <div class="form-group">
      <label for="adress">Type d'abonnement: </label>
      <input id="Typeabonement" type="text" class="form-control" placeholder="Type d'abonnement"
        formControlName="Typeabonement" #abon />
    </div>

    <div>
      <ng-select class="custom" [items]="arrayCustomer" bindLabel="firstname" (change)="checkValidateButton()"
        [searchFn]="customSearchFn" clearAllText="Clear" placeholder="Client" [(ngModel)]="selectedCustomer"
        [ngModelOptions]="{standalone: true}">
        <ng-template ng-label-tmp let-item="item">
          <span>{{ item.firstname + ' ' + item.lastname }}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
          <span>{{ item.firstname + ' ' + item.lastname }}</span>
        </ng-template>

      </ng-select>
    </div>
    <br>

    <div class="btnPosition">
      <button class="raised-button btn btn-secondary" [disabled]="(addForm.invalid || !isValidSelectedCustomer)">
        <h5> <i class="fa fa-plus-circle"> </i> <strong> Ajouter abonné</strong></h5>
      </button>
    </div>
  </form>


  <br>

  <div *ngIf=" !isValidSelectedCustomer && isClicked">
    <div class="alert alert-danger">
      Veuillez choisir un abonné
    </div>
  </div>

  <div *ngIf=" Typeabonement.invalid && (Typeabonement.dirty || Typeabonement.touched) ">
    <div class="alert alert-danger" *ngIf="Typeabonement.errors?.['required']">
      Type d'abonnement est invalide
    </div>
  </div>

</div>


<!--   <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div [innerHTML]='message'>
        </div>
      </div>
    </div>
  </div>
 -->
<div class="modal-footer">
  <span class="pull-right" style="padding-right:2%">
    <button type="button" class="btn btn-light btn-sm" (click)="close()" id="btnCancel">Fermer</button>
  </span>
</div>