<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">


  <div class="row" *ngIf="loginService.isLoggedIn()">
    <div class="col-sm-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav d-flex flex-row me-8">
          <li class="nav-item me-12 me-lg-3">
            <a class="fa fa-sign-out fa-2x" (click)="logout()">
            </a>
          </li>
        </ul>

      </nav>
    </div>

    <br>
  </div>
<br>


  <div class="row">
    <div class="col-sm-3" *ngIf="loginService.isLoggedIn()">
      <div class="sidebar-content">
        <div (click)="goToHome()">Acceuil</div>
        <div (click)="goToListCustomer()">Gestion des clients</div>
        <div (click)="goToListResponsable()">Gestion des responsables</div>
        <div (click)="goToLisSubscription()">Gestion des abonnements</div>
        <div>Gestion des réclamations</div>
        <div>Gestion des services</div>
        <div>Generation des statistiques</div>
      </div>
    </div>

    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>





</div>

















  