<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">


  <div class="row" *ngIf="loginService.isLoggedIn()">
    <div class="col-sm-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav d-flex flex-row me-8">
          <li class="nav-item me-12 me-lg-3">
            <a class="fa fa-sign-out fa-2x" (click)="logout()">
            </a>
          </li>
        </ul>

      </nav>
    </div>

    <br>
  </div>
  <br>


  <div class="row">
    <div class="col-sm-3" *ngIf="loginService.isLoggedIn()">
      <div class="sidebar-content">
        <div (click)="goToHome()"><i class="fa fa-home"><strong>Acceuil</strong></i></div>
        <div (click)="goToListCustomer()"><i class="fa fa-user"><strong>Gestion des clients</strong></i></div>
        <div (click)="goToListResponsable()"><i class="fa fa-user"><strong>Gestion des responsables</strong></i></div>
        <div (click)="goToListSubscription()"><i class="fa fa-credit-card"><strong>Gestion des abonnements</strong></i></div>
        <div (click)="goToListClaim()"><i class="fa fa-comments"><strong>Gestion des réclamations</strong></i></div>
        <div (click)="goToListServiceCni()"><i class="fa fa-wrench"><strong>Gestion des services</strong></i></div>
        <div (click)="goToListPaiements()"><i class="fa fa-money"><strong>Gestion des facturations</strong></i></div>
        <div><i class="fa fa-bar-chart"><strong>Generation des statistiques</strong></i></div>
      </div>
    </div>

    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>





</div>